/* #region || CSS RESET */

*,
*::before,
*::after {
	box-sizing: inherit;
	line-height: calc(1em + 0.5rem);
	padding: 0;
	margin: 0;
}

html {
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji';
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
	font: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	letter-spacing: inherit;
	color: inherit;
	border-radius: 0;
	background-color: transparent;
	opacity: 1;
}

button {
	cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-inline-size: 100%;
	max-block-size: 100%;
}

ol,
ul,
menu {
	list-style: none;
	padding-inline: 0;
}

code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
		monospace;
	font-size: 1em;
}

b,
strong {
	font-weight: bolder;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}

table {
	border-color: currentcolor;
	border-collapse: collapse;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

summary {
	display: list-item;
}
/* #endregion */

/* GENERAL STYLES */
body {
	color: #eff;
	background-color: #444449;
}

button {
	border-radius: 6px;
	padding: 0.3rem 0.5rem;
	border: 1px solid black;
	background-color: #444;

	&:hover,
	&:focus {
		filter: brightness(1.2);
	}
	&:active {
		filter: brightness(0.9);
	}
}

/* UTILITIES */
.two-col {
	grid-column: span 2;
}

.capitalize {
	text-transform: capitalize;
}

/* HEADER */
.header {
	background: linear-gradient(to top, #3c3c48, #595963 15%, #333340);
	padding: 1rem;

	.header__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: space-between;
		align-items: center;
		max-width: 1000px;
		margin: 0 auto;
	}
}

.open-dialog-btn {
	width: 40%;
	justify-self: end;
}

h1 {
	text-align: center;
}

/* DIALOG */
.dialog {
	margin: auto;
	background-color: #555;
	color: inherit;
	border: 1px solid black;
	border-radius: 13px;
	padding: 1.3rem;
	min-width: 30rem;

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.485);
	}

	button {
		background: #777;
		padding-inline: 0.6rem;
		border: none;
	}

	input {
		border: none;
		border-bottom: 2px solid rgb(191, 191, 191);
		background-color: #666;
		padding-inline: 0.5rem;
		padding-block: 0.2rem;
	}
}

.dialog__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.dialog__form {
	display: grid;
	grid-template-columns: 8ch 1fr;
	gap: 0.6rem;
}

.dialog__form output {
	display: inline-block;
	width: 5ch;
}

.new-pages-label {
	display: grid;
	grid-template-columns: subgrid;
	align-content: center;
}

.dialog__radio-group {
	padding-inline: 1rem;
}

/* BOOKCARDS */
.books__hdg {
	padding: 1rem;
}
.books {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	gap: 1rem;
	padding: 1rem;
}

.book-card {
	background-color: #333338;
	padding: 1.6rem;
	border-radius: 10px;
	display: flex;
	flex-flow: column;
	box-shadow: 3px 3px 3px rgb(54, 54, 57), inset 1px 1px 3px rgb(191, 191, 191);
}

.book-card__delete-btn {
	padding: 0;
	border: none;
	background-color: transparent;
	flex-shrink: 0;
	align-self: start;

	svg {
		fill: rgb(180, 60, 60);
	}
}

.book-card__header {
	display: flex;
	justify-content: space-between;
}

.book-card__author,
.book-card__pages {
	margin-bottom: 0.5rem;
}

.book-card__read {
	width: max-content;
	padding-inline: 0.6rem;
	cursor: pointer;
	margin-top: auto;

	&[data-read='false'] {
		background-color: rgb(94, 94, 59);
	}
	&[data-read='true'] {
		background-color: rgb(48, 78, 48);
	}
}
